body,h1,h2,h3,h4,h5,h6 {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}   

h3 {
    font-size: 3rem;
    font-weight: 1000 !important;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background: #73AD21;
    padding: 20px;
    width: 250px;
    text-decoration: none;
}

.heroTitle {
    line-height: 1.0;
}

.heroButton {
    font-size: 25px !important;
    font-weight: bold;
}