.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/app/assets/dchero.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("/app/assets/highrise.jpeg");
    min-height: 100%;
}
  
.w3-bar .w3-button {
    padding: 16px;
}
